.values {
    /*background: #F7FAF2; */
    padding: 0px 8% 100px 8%;
    text-align: center;
}


/* TÍTULO */
.values-title {
    font-family: 'Anton', sans-serif;
    font-size: clamp(48px, 6vw, 72px);
    margin-bottom: 90px;
    text-align: center;
}


/* LISTA */
.values-list {
    width: 100%;
    max-width: none;
    margin: 0;
    text-align: left;
}

.value-item {
    border-bottom: 2px solid #242424;
    padding: 30px 0;
    cursor: pointer;
    overflow: hidden;
}

.value-inner {
    position: relative;
    height: 40px;
    transition: height 0.35s ease;
}

.value-name,
.value-desc {
    position: absolute;
    left: 0;
    width: 100%;
    transition: transform 0.35s ease, opacity 0.3s ease;
}

/* Nombre visible */
.value-name {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #242424;
}

/* Descripción oculta abajo */
.value-desc {
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color: #FF3231;
    transform: translateY(100%);
    opacity: 0;
}
.value-number {
    display: inline-block;
    width: 50px;
    color: #242424;
    font-weight: 600;
}

/* HOVER ANIMACIÓN */
.value-item:hover .value-inner {
    height: 90px;
}

.value-item:hover .value-name {
    transform: translateY(-120%);
    opacity: 0;
}

.value-item:hover .value-desc {
    transform: translateY(0);
    opacity: 1;
}

.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}