.hero {
    height: 75vh;
    background-color: #f0ece3;
    position: relative;
    /* clave para posicionar el logo */
    overflow: hidden;
}

/* LOGO */
.hero img {
    position: absolute;
    top: -10%;
    /* un poco más arriba para compensar el tamaño */
    left: 50%;
    transform: translate(-50%, 60px);

    max-height: 72vh;
    /* ⬅️ MÁS GRANDE (antes 38vh) */
    width: auto;

    opacity: 0;
    animation: heroReveal 1.9s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.3s;
}

@keyframes heroReveal {
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}