.manifesto {
    background: #CBBB2A;
    /* o #000 */
    color: #F7FAF2;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
}

.typewriter {
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(22px, 3vw, 40px);
    font-weight: 500;
    letter-spacing: -0.02em;
}

.cursor {
    display: inline-block;
    margin-left: 5px;
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}