.portfolio-project{
    background:#fff;
    border:1px solid #E6E6E6;
    border-radius:20px;
    overflow:hidden;

    transition:.35s ease;
}

.portfolio-project:hover{
    transform:translateY(-4px);
    box-shadow:0 18px 40px rgba(0,0,0,.08);
}
.portfolio-project-image{

    display:block;

    width:100%;

    aspect-ratio:16/8;

    background:#d8d8d8;

    overflow:hidden;

    transition:.5s;
}

.portfolio-project:hover .portfolio-project-image{

    transform:scale(1.02);

}
.portfolio-project-body{

    display:flex;

    flex-direction:column;

}
.portfolio-project-info{

    padding:34px;

    border-bottom:1px solid #ECECEC;

}
.portfolio-category{

    display:block;

    margin-bottom:12px;

    font-size:14px;

    color:#777;

    font-family:"DM Sans",sans-serif;

}
.portfolio-project-info h2{

    font-family:"Anton",sans-serif;

    font-size:48px;

    line-height:.95;

    color:#242424;

    margin-bottom:18px;

}
.portfolio-project-info h2{

    font-family:"Anton",sans-serif;

    font-size:48px;

    line-height:.95;

    color:#242424;

    margin-bottom:18px;

}
.portfolio-project-info p{

    font-family:"DM Sans",sans-serif;

    color:#666;

    font-size:17px;

    line-height:1.6;

}
.portfolio-project-link{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:24px 34px;

    color:#242424;

    text-decoration:none;

    font-family:"DM Sans",sans-serif;

    font-weight:500;

    transition:.3s;
}
.arrow{

    font-size:34px;

    transition:.3s;

}
.portfolio-project:hover .arrow{

    transform:translateX(8px);

}